@{
	Layout = "_Layout";
}
<div class="index-container">
	<div class="index-flex">
		<h1 class="index-title">Welcome to the best <br/> place to keep track of your projects</h1>
		<p class="index-info">This is an easy-to-use website designed to help you efficiently track and manage your projects.
			Whether you're working solo or collaborating with a team,
			you can organize tasks, set deadlines,
			and monitor progress—all in one place.
			Stay on top of your work with a clean,
			intuitive interface that keeps everything structured and accessible.</p>
		<a asp-action="Register" asp-controller="Auth">
			<button class="btn-primary">
				Sign up for free today
			</button>
		</a>
	</div>
</div>