<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <script type="importmap"></script>
    <script src="https://kit.fontawesome.com/373619c028.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth/signIn.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Auth/register.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper" style="background-color: var(--bg-light)">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
