@model ProjectModel

<div class="add-project-modal" id="project-modal">
	<div class="modal-content">
		<h1>Add Project</h1>
		<div class="project-select-icon">
			<button>
				icon
			</button>
		</div>
		<div class="project-name-field">
			<label class="field-label" asp-for="projectName"></label>
			<input class="text-input" asp-for="projectName" />
			<span asp-validation-for="projectName"></span>
		</div>
		<div class="client-name-field">
			<label class="field-label" asp-for="clientName"></label>
			<input class="text-input" asp-for="clientName" />
			<span asp-validation-for="clientName"></span>
		</div>
		<div class="description-field">
			<label class="field-label" asp-for="projectDescription"></label>
			<textarea class="text-input description-input" asp-for="projectDescription"></textarea>
		</div>
		<div class="date-field">
			<div>
				<label class="field-label" asp-for="startDate"></label>
				<input class="text-input" type="date" asp-for="startDate"/>
			</div>
			<div>
				<label class="field-label" asp-for="endDate"></label>
				<input class="text-input" type="date" asp-for="endDate"/>
			</div>
		</div>
	</div>
</div>
