@model ProjectConnectModel


<div class="add-project-modal" id="project-modal">
	<div class="modal-content">
		<h1>Add Project</h1>
		<div class="project-select-icon">
			<button>
				icon
			</button>
		</div>
		<form method="post" asp-controller="Project" asp-action="Project" novalidate>
			<div class="project-name-field">
				<label class="field-label" asp-for="Form.ProjectName"></label>
				<input class="text-input" asp-for="Form.ProjectName" />
				<span asp-validation-for="Form.ProjectName"></span>
			</div>
			<div class="client-name-field">
				@Html.DropDownListFor(
					model => model.Form.ClientId,
					new SelectList(Model.Clients, "Id", "ClientName"),
					"Select a client",
					new { @class = "text-input" }
				)
			</div>
			<div class="description-field">
			<label class="field-label" asp-for="Form.ProjectDescription"></label>
			<textarea class="text-input description-input" asp-for="Form.ProjectDescription"></textarea>
			</div>
			<div class="date-field">
				<div>
				<label class="field-label" asp-for="Form.StartDate"></label>
				<input class="text-input" type="date" asp-for="Form.StartDate" />
				</div>
				<div>
				<label class="field-label" asp-for="Form.EndDate"></label>
				<input class="text-input" type="date" asp-for="Form.EndDate" />
				</div>
			</div>
			<div class="team-member-field">
				<label class="field-label" asp-for="Form.TeamMemberIds">Team Members</label>
				<select asp-for="Form.TeamMemberIds"
					asp-items="@(new MultiSelectList(Model.TeamMembers, "Id", "FirstName"))"
					multiple
					class="text-input"
					size="5">
				</select>
				<label>Members</label>
				<div class="member-container" id="memberContainer">
					<!-- Pills get added here -->
					<input type="text" id="memberSearch" placeholder="Search..." class="search-input" />
					<span class="search-icon">&#128269;</span>
				</div>

				<div class="member-list" id="memberList">
					@foreach (var member in Model.TeamMembers.Where(m => Model.Form.TeamMemberIds.Contains(m.Id)))
					{
						<span class="team-member">@member.FirstName</span>
					}
				</div>
			</div>
			<div class="budget-field">
				<label class="field-label" asp-for="Form.Budget"></label>
				<input class="text-input" type="number" asp-for="Form.Budget" />
			</div>
			<input type="submit" value="Create" class="btn-sign-in"/>
		</form>
	</div>
</div>
