
<div class="header-flex">
	<form class="input-form">
		<i class="fa-solid fa-magnifying-glass"></i>
		<input class="input-search" type="text" placeholder="Search..." />
	</form>
	<div class="btn-flex">
		<button>
			<i class="fa-solid fa-bell"></i>
		</button>
		<button>
			<i class="fa-solid fa-gear"></i>
		</button>
	</div>
	@if (SignInManager.IsSignedIn(User))
	{		
		<div class="logged-in dropdown-container" data-type="dropdown">
			<img src="/images/avatar.svg"/>
				<div class="dropdown dropdown-log-in">
					<div class="header-username">
						<img src="/Images/avatar.svg" />
						<span id="full-name"></span>
					</div>
					<a asp-action="SignOut" asp-controller="Auth" asp-area="Identity">
						<i class="fa-solid fa-right-from-bracket"></i>
						<span>Sign Out</span>
					</a>

				</div>
		</div>
	}
	else
	{
		<a class="sign-in" asp-area="Identity" asp-controller="Auth" asp-action="SignIn">sign in <i class="fa-solid fa-right-to-bracket"></i></a>
	}
</div>