@using Domain.Models
@model Project

<div class="project-card">
	<div class="card-header">
		<div class="project-icon">
			<img class="project-alpha-image" src="~/Images/Vector 6.svg"/>
		</div>
		<div class="card-title">
			<h2>@Model.ProjectName</h2>
			<span>@Model.ClientName</span>
		</div>
		<button class="btn-project-menu">
			<i class="fa-solid fa-ellipsis-vertical project-menu"></i>
		</button>		
	</div>
	<div class="card-description">
		<p>@Model.ProjectDescription</p>
	</div>
	<div class="card-footer">
		<div class="project-time-left">
			<i class="fa-solid fa-clock"></i>
			<span>1 week left</span>
		</div>
		<div>
			@foreach (var name in Model.TeamMemberNames)
			{
				<span class="team-member">@name</span>
			}
		</div>		
	</div>
</div>
