<div class="project-card">
	<div class="card-header">
		<div class="project-icon">
			<img class="project-alpha-image" src="~/Images/Vector 6.svg"/>
		</div>
		<div class="card-title">
			<h2>Website Redesign</h2>
			<span>Gitlab Inc.</span>
		</div>
		<button class="btn-project-menu">
			<i class="fa-solid fa-ellipsis-vertical project-menu"></i>
		</button>		
	</div>
	<div class="card-description">
		<p> It is necessary to develop a website redesign in a corporate style</p>
	</div>
	<div class="card-footer">
		<div class="project-time-left">
			<i class="fa-solid fa-clock"></i>
			<span>1 week left</span>
		</div>
		<div>
			<span>icon</span>
		</div>		
	</div>
</div>
