
	<div class="sideBar-container">
		<div class="sideBar-header">
			<img src="/Images/alphaicon.svg" alt="Alpha Icon" />
			<h1>alpha</h1>
		</div>
		<div class="sideBar-content">
			<ul>
				<li>
					<a class="btn-sideBar" asp-area="" asp-controller="Project" asp-action="Project">
						<i class="fa-solid fa-briefcase"></i>
						<span>Projects</span>	
					</a>	
				</li>
				<li class="btn-sideBar">
					<i class="fa-solid fa-users"></i>
					<span>Team Members</span>
				</li>
			</ul>
		</div>
	</div>
