
	<div class="sideBar-container">
		<a asp-action="Index" asp-controller="Home" class ="sideBar-header">
			<img src="/Images/alphaicon.svg" alt="Alpha Icon" />
			<h1 class="alpha-title">alpha</h1>
		</a>
		<div class="sideBar-content">
		@if (SignInManager.IsSignedIn(User)){
			<ul>
				<li>
					<a class="btn-sideBar" asp-area="" asp-controller="Project" asp-action="Project">
						<i class="fa-solid fa-briefcase"></i>
						<span>Projects</span>	
					</a>	
				</li>
				<li class="btn-sideBar">
					<i class="fa-solid fa-users"></i>
					<span>Team Members</span>
				</li>
			</ul>
		}
		else{
			<ul>
				<li>
					<div class="btn-sideBar">
						<i class="fa-solid fa-lock"></i>
						<span>Projects</span>
					</div>
				</li>
				<li>
					<div class="btn-sideBar">
						<i class="fa-solid fa-lock"></i>
						<span>Team Members</span>
					</div>
				</li>
			</ul>
		}
		</div>
	</div>
