@model SignInModel
@{
	Layout = "_AuthLayout";
}
<div class="auth-container">
	<div class="sign-in-card">
		<h1 class="sign-in-title">Login</h1>
		<button class="btn-google"><i class="fab fa-google"></i> Sign in with Google</button>
		<div class="divider">
			<span>or</span>
		</div>
		<form class="sign-in-form" asp-action="SignIn" asp-controller="Auth" method="post">
			<div class="email-div">
				<label class="field-label" asp-for="Email"></label>
				<input class="text-input" novalidate asp-for="Email" />
				<span asp-validation-for="Email"></span>
			</div>
			<div class="password-div">
				<label class="field-label" asp-for="Password"></label>
				<input class="text-input" asp-for="Password" />
				<span asp-validation-for="Password"></span>
			</div>
			<div class="remember-me-forgot-password-flex">
				<div class="remember-me-checkbox">
					<input type="checkbox" />
					<span>Remember Me</span>
				</div>
				<a>Forgot Password?</a>
			</div>
			<input class="btn-primary" type="submit" value="Log In" />
		</form>
		<span class="redirect-to-register">Don't have an account? <a asp-area="Identity" asp-controller="Auth" asp-action="Register">Sign Up</a></span>
	</div>
</div>